* {
	margin: 0;
	font-family: Roboto,Arial,sans-serif;
	font-weight: bold;
}

body {
	background: #36393f;
	color: #dcddde;
}

header {
	width: 100%;
	height: 70px;
	color: white;
	background-color: #202225;
}

.logo {
	float: left;
	font-size: 25px;
	margin-left: 30px;
	height: 70px;
	display: flex;
	align-items: center;
}

.menu {
	float: right;
	margin-right: 10px;
	text-decoration: none;
	height: 70px;
	display: flex;
	align-items: center;
}

.menu a {
	text-decoration: none;
	margin-right: 20px;
	color: white;
}

.log-in {
	font-size: 14px;
	color: white;
	background-color: #7289da;
	width: 80px;
	height: 40px;
	border-radius: 5px;
	border: None;
}

.log-in:hover {
	cursor: pointer;
}

.response-block {
	margin: 15px;
	padding: .5em;
	word-wrap: break-word;
	width: 90%;
	background-color: #2f3136;
	border: 1px solid #202225;
	color: #b9bbbe;
}